<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <div class="col-sm-2 d-flex justify-content-center">
      <span class="align-self-center"><img src='static/userimg' width="40px" height="40px"/>{{user.username}}</span>
    </div>
    <h1>Add a Tracker</h1><a href="/main">Home</a> |
    <a href="/logout" class="logout">Logout</a><br><br>
    <div class="add_tracker">
      <form class="tracker_form" action="/tracker/add" method="post">
        <label for="name">Enter name of tracker:</label><input type="text" name="name" required><br>
        <label for="desc">Enter description of tracker:</label><input type="text" name="desc"><br>
        <label for="type">Select tracker type:</label><select name="type" >
          <option value="Integer">Integer</option>
          <option value="Numeric">Numeric</option>
          <option value="Multiple-choice">Multiple-Choice</option>
        </select><br>
        <label for="settings">Settings(Separated by comma):</label><input type="text" name="settings" value=""><br>
          <button type="submit" name="submit">Add Tracker</button>
      </form>
    </div>
  </body>

</html>
