<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <!-- jQuery library
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->

    <!-- Latest compiled JavaScript
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <title>Quantified self</title>
  </head>
  <body>
    <div class="row" align="center">
        <h1>Welcome to Quantified Self</h1><br>
    </div>

    <div class="form" margin-left="0 px">
      <form class="loginform" action="/" method="post" >
        <h3>User Login</h3>
        <label for="username" >Username:</label><br>
        <input type="text" class="form-control" name="username" required><br>
        <label for="password">Enter your password:</label><br>
        <input type="password" class="form-control" name="password"  required><br>
        <button type="submit">Login</button><h4 style="font-family: zillaslab,palatino,Palatino Linotype,serif;color:red">{{error}}</h4>
        Not a member? <a href="/signup">Sign Up</a>
      </form>
    </div>
  </body>
</html>
